.button {
    width: 125px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--main-color);
    border: none;
    border-radius: 16px;
    box-shadow: var(--box-shadow);
    cursor: pointer;

    transition: background-color 300ms ease, color 300ms ease;
}

.button:hover,
.button:focus {
    color: var(--bg-color);
    background-color: var(--accent-color);
}
