/* ======= Home Page ======== */
.hero {
    padding: 24px 0;
}

.thumb {
    width: 100%;
    max-width: 360px;
    margin: 50px auto;
}

.title {
    font-weight: 900;
    font-size: 40px;
}

.sign {
    position: relative;
}

.sign::before {
    content: '';
    position: absolute;
    bottom: 0.77em;
    left: 42%;
    width: 0;
    height: 0.15em;
    border: 0.05em solid;
    background-color: #000000;
}

.sign::after {
    content: '';
    position: absolute;
    bottom: 0.12em;
    left: 42%;
    width: 0;
    height: 0.15em;
    border: 0.05em solid;
    background-color: #000000;
}

.slogan {
    margin: 0 11px;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: var(--main-color);
}

/* ======= Expenses Page ======== */

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    margin-top: 30px;
}

.inputContainer {
    width: 100%;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.goBack {
    position: absolute;
    top: 83px;
    left: 20px;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;

    transition: background-color 300ms ease;
}

.goBack:hover {
    background-color: var(--accent-color);
    --arrow-color: var(--bg-color);
}

.text {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ff0000;
}

.form {
    width: 100%;
    max-width: 440px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    width: 100%;
    height: 44px;
    padding: 0 20px;
    border: 2px solid var(--bg-color);
    border-radius: 22px 22px 0 0;
    background-color: transparent;
}

.input::placeholder {
    color: var(--placeholder-color);
}

.priceContainer {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.price {
    width: 125px;
    height: 44px;
    padding: 0 16px;
    text-align: end;
    font-weight: 700;
    /* color: #000000; */
    background-color: transparent;
    border: 2px solid var(--bg-color);
    border-radius: 22px 0 0 22px;
}

.price::placeholder,
.price::-moz-placeholder {
    color: #000000;
}

.calcIcon {
    width: 60px;
    height: 44px;
    padding: 10px 19px;
    border: 2px solid #ffffff;
    border-radius: 0 22px 22px 0;
    border-left: none;
}

.btnsContainer {
    display: flex;
    gap: 10px;
    margin-top: 50px;
}

.link {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    gap: 15px;
    text-decoration: none;
    color: var(--main-color);
}

.icon {
    fill: var(--main-color);
}

.btn {
    width: 145px;
    margin-top: 30px;
    padding: 13px;
    background-color: transparent;
    color: var(--main-color);
    border: 2px solid var(--bg-color);
    border-radius: 22px;
    text-transform: uppercase;
    /* box-shadow: 2px 2px 5px 0px lightgrey; */
    cursor: pointer;

    transition: background-color 300ms ease, border-color 300ms ease;
}

.btn:hover {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

.nav {
    position: fixed;
    width: 100%;
    max-width: 480px;
    bottom: 0;
    left: 50%;
    display: flex;
    transform: translateX(-50%);
}

.navLink {
    width: 50%;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: inherit;
    background: var(--bg-link-color);
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;

    transition: background-color 300ms ease, color 300ms ease;
}

.navLink:hover,
.navLink:focus {
    color: var(--accent-color);
    background-color: var(--bg-color);
}

.active {
    composes: navLink;
    color: var(--bg-color);
    background: var(--accent-color);
}

@media screen and (min-width: 768px) {
    .thumb {
        max-width: 426px;
    }

    .title {
        font-size: 66px;
    }

    .slogan {
        margin: 0 53px;
        font-size: 16px;
    }
}

@media screen and (min-width: 1280px) {
    .hero {
        display: flex;
    }

    .title {
        font-size: 102px;
        margin-top: 260px;
    }

    .slogan {
        margin: 0 72px;
    }
}
