.hero {
    padding-top: 80px;
}

.thumb {
    width: 100%;
    max-width: 360px;
    margin: 50px auto;
}

.title {
    font-weight: 900;
    font-size: 40px;
}

.sign {
    position: relative;
}

.sign::before {
    content: '';
    position: absolute;
    bottom: 0.77em;
    left: 42%;
    width: 0;
    height: 0.15em;
    border: 0.05em solid;
    background-color: #000000;
}

.sign::after {
    content: '';
    position: absolute;
    bottom: 0.12em;
    left: 42%;
    width: 0;
    height: 0.15em;
    border: 0.05em solid;
    background-color: #000000;
}

.slogan {
    margin: 0 11px;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: var(--text-color-four);
}

@media screen and (min-width: 768px) {
    .thumb {
        max-width: 426px;
    }

    .title {
        font-size: 66px;
    }

    .slogan {
        margin: 0 53px;
        font-size: 16px;
    }
}

@media screen and (min-width: 1280px) {
    .hero {
        display: flex;
    }

    .title {
        font-size: 102px;
        margin-top: 260px;
    }

    .slogan {
        margin: 0 72px;
    }
}
