.container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 56px;
    background-color: var(--bg-color);
    z-index: 100;
}

.thumb {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
}

@media screen and (min-width: 480px) {
    .thumb {
        width: var(--mobile);
    }
}

@media screen and (min-width: 768px) {
    .thumb {
        width: var(--tablet);
        padding: 10px 32px;
    }
}

@media screen and (min-width: 1280px) {
    .thumb {
        width: var(--desktop);
        padding: 10px 16px;
    }
}

.avatar {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    border-radius: 50%;
    color: #52555f;
    background-color: var(--avatar-bg-color);
    text-transform: uppercase;
}

.userThumb {
    display: flex;
    align-items: center;
    gap: 16px;
}

.userData {
    display: flex;
    gap: 20px;
    color: var(--main-color);
    align-items: center;
}

.line {
    width: 0;
    height: 36px;
    border-left: 1px solid var(--separate-line-color);
}

.button {
    text-decoration: underline;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: inherit;
}

.exit {
    cursor: pointer;
}
