.container {
    position: sticky;
    top: 56px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 25px 0 10px;
    background: var(--bg-secondary-color);
    z-index: 10;
}

.link {
    display: flex;
    align-items: center;
    margin-bottom: 28px;
    gap: 15px;
    text-decoration: none;
    color: var(--main-color);

    transition: color 300ms ease;
}

.link:hover,
.link:focus {
    color: var(--accent-color);
}

.icon {
    fill: currentColor;
}

.btn {
    width: 145px;
    margin-top: 30px;
    padding: 13px;
    background-color: transparent;
    color: var(--main-color);
    border: 2px solid var(--bg-color);
    border-radius: 22px;
    text-transform: uppercase;
    cursor: pointer;

    transition: background-color 300ms ease, border-color 300ms ease, color 300ms ease;
}

.btn:hover {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    color: var(--bg-color);
}
