@import 'modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root {
    --accent-color: #ff751d;
    --avatar-bg-color: #f5f6fa;
    --main-color: #52555f;
    --separate-line-color: #e0e5eb;
    --input-bg-color: #f6f7fb;
    --bg-color: #ffffff;
    --bg-secondary-color: #f2f5fc;
    --bg-link-color: #f5f6fb;
    --text-color-three: #a6abb9;
    --placeholder-color: #c7ccdc;
    --placeholder2-color: #9499a9;
    --active-link-bg-color: #fefefe;
    --inactive-link-bg-color: #fafbfd;

    --box-shadow: 1px 3px 5px #aab2c533;
    --transition: background-color 300ms ease, color 300ms ease;
    /* --text-color-one: #52555fb2;
  --text-color-two: #eb5757;
  --text-color-three: #a6abb9;
  --accent-color: #ff751d;
  --unaccent-color: #ffdac0;
  --unaccent-pictogram-color: #071f41;
  --negative-sum-color: #e7192e;
  --positive-sum-color: #407946;
  --bg-modal-three-colour: #dfe2eb;

  --modal-comment-bg: linear-gradient(
      117.84deg,
      #1d346a 2.84%,
      #031634 67.28%
  );
*/

    --mobile: 480px;
    --tablet: 768px;
    --desktop: 1280px;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    scrollbar-width: thin;
    scrollbar-color: var(--accent-color) var(--bg-link-color);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

p {
    padding: 0;
    margin: 0;
}

button {
    padding: 0;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

input:focus {
    outline: none;
}

.container {
    min-height: 100vh;
    background-image: url('./images/bg.svg'), url('./images/bgCabbage.svg'),
        linear-gradient(var(--bg-secondary-color) 342px, #ffffff 342px);
    background-repeat: no-repeat;
    background-position: top 222px left, top 85px left calc(100vw - 110px), top left;
    background-size: 120px 120px, 1334px 232px, 100%;
}

.container-with-user {
    background-image: url('./images/bg.svg'), linear-gradient(var(--bg-secondary-color) 342px, #ffffff 342px);
    background-repeat: no-repeat;
    background-position: top 222px left, top left;
    background-size: 120px 120px, 100%;
}

.main {
    margin: 0 auto;
    padding: 56px 20px 0;
    width: 100%;
    max-width: var(--mobile);
}

@media screen and (min-width: 768px) {
    .container {
        background-image: url('./images/bg.svg'), url('./images/bgCabbage.svg'), url('./images/twoCabbages.svg'),
            linear-gradient(var(--bg-secondary-color) 582px, #ffffff 582px);
        background-position: top 462px left, top 85px center, bottom 50px left 100px, top left;
        background-size: 120px 120px, 1334px 232px, 183px 142px, 100%;
    }

    .container-with-user {
        background-image: url('./images/bg.svg'), url('./images/twoCabbages.svg'),
            linear-gradient(var(--bg-secondary-color) 342px, #ffffff 342px);
        background-repeat: no-repeat;
        background-position: top 222px left, bottom 50px right 100px, top left;
        background-size: 120px 120px, 183px 142px, 100%;
    }

    .main {
        max-width: var(--tablet);
        padding: 0 32px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        background-position: top 462px left, top 85px center, top 650px left 230px, top left;
    }

    .main {
        max-width: var(--desktop);
        padding: 0 16px;
    }
}
